<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/8666427.jpg" alt="" class="img-thumbnail rounded-circle" width="200px">
      <h1 class="display-4">Rasya Adrian
      </h1>
      <p class="lead">Software developer enthusiats</p>
    </div>
  </div>
</div>
