<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <h2>contact data add form</h2>
      <% if (typeof errors != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>
      <form method="post" action="/contact">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="number" class="form-label">Number</label>
          <input
            type="text"
            class="form-control"
            id="number"
            name="number"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Add contact data</button>
      </form>
    </div>
  </div>
</div>
